<?php $this->getModel("header")->init();?>
<body>
<!-- 顶部菜单 -->
<?php $this->getModel("header")->headerMenu();?>
<!-- banner广告位 -->
<?php $this->getModel("header")->getBanner();?>

<div class="wapper newcontent">
	<!-- 左侧菜单 -->
	<?php $this->getModel("header")->getLeftMenu();?>
    <div class="wright">
    	 <div class="newsinfo">         	                       
            <div class="com newscontent">
            	　　映诺社区发展机构（映诺）是创新型社区发展项目的倡导者和驱动者，主要关注的领域包括公共健康、社区扶贫和新兴社区问题。我们旨在用创新思维和系统实践为社区带来实实在在的改善和推动。
映诺从2007年开展了第一个社区服务项目-工人热线，已经为12个国际品牌供应链工厂的30万工人提供劳资个案解决，心理、咨询和投诉的个案超过12000个。并且在2009年2月与百时美施贵宝基金会合作开展了中国大陆的消除乙肝歧视项目，直接受益人群超过300万。同年的6月开展了中国公平贸易的社区推广和销售网络项目。
映诺提倡使用社区投资理念和工具装置的办法-Contribution that Counts, Installation that Fits，计划、执行和评测社区项目，并且创立了中国第一套的社区热线服务系统-Inno Hotline; 三角对话个案解决方案-Inno Triangle Dialogue；社区嘉年华-Inno Community Carnival； NGO 项目执行系统-Inno Hub System; 与中国国情相符合的社区投资系统工具-Inno CIS; 受益人群调查系统-Inno BRS; 漫画创作团队-Inno Visual Studio等一系列项目工具。
认同映诺的创新和实践的价值观的除了众多合作的品牌外，还有来自世界各地的基金会与机构，携手映诺共创社区发展的新一页，包括有：GBC (Global Business Collision), Solidaridad，Fusion Limited, 香港公平点，CSR-Asia，中国扶贫基金会，广州市疾控中心，广州市社区卫生学会等17个合作机构。
目前映诺总部坐落在广州，其基金会设在香港，并且在北京和上海均有分部，计划在大陆西部开设另外一个分部。
            </div>           
         </div>
    </div>
</div> 
</body>
</html>
