<?php $this->getModel("header")->init();?>
<body>
<!-- 顶部菜单 -->
<?php $this->getModel("header")->headerMenu();?>

<div class="wapper usercontent">
	<?php $this->getModel("personal")->leftMenu();?>
    <div class="wright">
    	
         <div class="mypass">
         	<form id="changePwd">
         	<ul class="com">
            	<li class="com">
                	<span>原密码</span>
                    <div>
                    	<input type="password" value="" name="oldPassword" id="oldPassword"/>
                    </div>
                </li>
                <li class="com">
                	<span>新密码</span>
                    <div>
                    	<input type="password" value="" name="password" id="password"/>
                    </div>
                </li>
                <li class="com">
                	<span>重复新密码</span>
                    <div>
                    	<input type="password" value="" name="confirmPassword" id="confirmPassword"/>
                    </div>
                </li>
            </ul>
            <div class="com myinfo_update_btn pass_update_btn">
            	<input type="submit" value="确定修改" onclick="doChangePwd();return false;"/><br />
            	<span id="resultInfo"></span>
            </div>
            </form>
         </div>
        
    </div>
</div> 
 <script type="text/javascript">
 	function doChangePwd(){
 		var data = $("#changePwd").serialize();
 		$.ajax({
  		   type: "POST",
  		   url: "?m=personal&action=doChangePwd",
  		   data: data,
  		   success: function(val){
    		   	switch(val.code){
	    		   	case '1':
		    		   	setTimeout(function(){window.location.href="http://hrh.theinno.org"},2000);
	    		   		$("#resultInfo").attr("style","color:green;");
	        		   	break;
        		    default:
        		    	$("#resultInfo").attr("style","color:red;");
            		    break;
    		   	}
    		   	$("#resultInfo").html(val.msg);
  		   }
  		});
 	}
 </script>
</body>
</html>
