<?php $this->getModel("header")->init();?>
<link href="./Template/2012/css/global.css" rel="stylesheet" type="text/css" />
<link href="./Template/2012/css/base.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function submitForm(){
	var password = jQuery("#password").val();
	var confirmPassword = jQuery("#confirm_password").val();
	var checkcode = jQuery("#checkcode").val();
	var code = jQuery("#code").val();
	if(passwordVerify('password','step2_password')&&confirmPasswordVerify('password','step2_password','confirm_password','step2_confirm_password')&&codeVerify('checkcode','verifycode_hint')){
		$.ajax({
			   type: "POST",
			   url: "?m=company&action=editpwd2Finsh",
			   data: "password="+password+"&confirmPassword="+confirmPassword+"&code="+code+"&checkcode="+checkcode,
			   dataType:"json",
			   success: function(data){
			      switch(data['result']){
			      case '-1':
			    	  ShowMsg('step2_password',0,data['msg']);
			    	  return false;
				      break;
			      case '-2':
			    	  ShowMsg('step2_confirm_password',0,data['msg']);
			    	  return false;
				      break;
			      case '-3':
			    	  ShowMsg('verifycode_hint',0,data['msg']);
			    	  return false;
				      break;
			      case '-4':
			    	  ShowMsg('submit_info',0,data['msg']);
			    	  return false;
				      break;
			      case '1':
			    	  ShowMsg('submit_info',1,'修改成功');
					  var timeout = setTimeout(function(){
								window.location.href="http://hrh.theinno.org";
						  },2000);
			    	  return false;
				      break;
			      }
			   }
			});
	}else{
		return false;
	}
}
</script>
<!--Wrapper-->
<div id="wrapper">
	<div class="top"></div>
	<div class="center1 password_management">
		<div class="title_r"><a  href="http://hrh.theinno.org">网站首页</a><em> &gt; </em>修改密码</div>
		<div class="pm_title">账号：<strong><?php echo $email;?></strong></div>
		<div class="token_process">
			<form method="post" id="myform" action="" >
			<ul>
			<li class="col"><blockquote><b>*</b> 新密码：</blockquote>
			<input name="password" id="password" type="password" class="input_text" style="ime-mode:disabled;" maxlength="16"  onblur="passwordVerify('password','step2_password');"/>
			<span class="tp_txt" style="font-size:12px;">密码由6-16个字符组成，区分大小写(不能包含空格)</span>
			<span id="step2_password" style="display:none">请输入新密码</span>
			</li>
			<li><blockquote><b>*</b> 确认新密码：</blockquote>
			<input name="confirm_password" id="confirm_password" type="password" class="input_text" style="ime-mode:disabled;" maxlength="16"  onblur="confirmPasswordVerify('password','step2_password','confirm_password','step2_confirm_password');"/>
			<span id="step2_confirm_password" style="display:none">再次输入新密码</span>
			</li>
			<li><blockquote><b>*</b> 验证码：</blockquote>
			<input name="checkcode" id="checkcode" type="text" class="input_text" style="ime-mode:disabled;" maxlength="4" onblur="codeVerify('checkcode','verifycode_hint');"/>
			<span id="verifycode_hint" style="display:none">请输入验证码</span>
			<span class="tp_txt" style="font-size:12px;">请输入图中字符，不区分大小写</span>
			<span class="tp_txt">
			<img src="./Func/checkcode.php" id="plugin_code"/>
			<a  href="javascript:;" onclick="$('#plugin_code').attr('src','./Func/checkcode.php?'+Math.random());" style="font-size:12px;">看不清，换一张</a>
			</span>
			</li>
			<li class="btn">
				<input type="hidden" value="<?php echo $code;?>" id="code"/>
				<a id="btn_submit"  class="button1" href="javascript:;" onclick="submitForm();"><span>&nbsp;&nbsp;&nbsp;确&nbsp;&nbsp;&nbsp;&nbsp;定&nbsp;&nbsp;&nbsp;</span></a>
				<span id="submit_info"></span>				
			</li>			
			</ul>			
			</form>					
		</div>		
		</div>
	<div class="bottom"></div>
</div>
<?php $this->getModel("header")->getFooter();?>