<?php $this->getModel("header")->init();?>
<body>
<!-- 顶部菜单 -->
<?php $this->getModel("header")->headerMenu();?>
<!-- banner广告位 -->
<?php $this->getModel("header")->getBanner();?>

<div class="wapper newcontent">
	<!-- 左侧菜单 -->
	<?php $this->getModel("header")->getLeftMenu();?>
    <div class="wright">
    	 <div class="newsinfo">
            <div class="com newscontent">
            	忘记您的密码?

	如果您忘记了您的帐户密码，请输入您的帐户的电子邮件地址到下面的框中。 然后，我们将生成一条修改密码的链接，并将其发送到帐户的电子邮件地址。
	
	此邮件可能会花费一些时间才能到达，请耐心等待几分钟，并检查您的垃圾邮件收件箱中，然后再重新提交重设密码的要求。
	
	    	<form class="basic-form">
				
				<ul>
					<li class="">
						<label for="email">雇主登录账号：<span class="required-field">(必填)</span></label>
						<input type="text" onblur="emailVerify('email','emailInfo');" class="form_field" id="email" name="email">
						<span id="emailInfo"></span>
					</li>
				</ul>
				<p><input type="button" onclick="sendEmail();" value="确定" id="submit" name="submit"></p>
			</form>
            </div>
         </div>
    </div>
</div> 
<script type="text/javascript">
function sendEmail(){
	var email = jQuery("#email").val();
	if(emailVerify('email','emailInfo')){
		$.ajax({
			   type: "POST",
			   url: "?m=company&action=sendForgetPwdEmail",
			   data: "email="+email,
			   dataType:"json",
			   success: function(data){
			   		switch(data['result']){
			   			case '-1':
			   				ShowMsg('emailInfo',0,data['msg']);
				   		break;
			   			case '1':
			   				ShowMsg('emailInfo',1,data['msg']);
				   			break;
			   		}
			   }
			});
	}
}
</script>
</body>
</html>