<?php $this->getModel("header")->init();?>
<body>
<!-- 顶部菜单 -->
<?php $this->getModel("header")->headerMenu();?>

<div class="wapper usercontent">
	<?php $this->getModel("header")->forgetModuleLeftMenu();?>
    <div class="wright">
    	
         <div class="mypass">
         	<form id="changePwd">
         	<ul class="com">
         		<li class="com">
                	<span>帐号</span>
                	<div><?php echo $email;?></div>
                </li>
            	<li class="com">
                	<span>新密码</span>
                    <div>
						<input name="password" id="password" class="form_field" type="password"/>
						<span id="emailInfo"></span>
                    </div>
                </li>
                <li class="com">
                	<span>确认密码</span>
                    <div>
						<input name="confirmPassword" id="confirmPassword" class="form_field" type="password"/>
						<span id="emailInfo"></span>
                    </div>
                </li>
                <li class="com">
                	<span>验证码</span>
					<div>
						<input name="checkcode" id="checkcode" class="form_field" type="text"/>
						<span id="emailInfo"></span>
                    </div>
                </li>
                <li class="com">
					<img src="./Func/checkcode.php" id="plugin_code" style="margin-left:90px;"/>
					<a href="javascript:;" onclick="$('#plugin_code').attr('src','./Func/checkcode.php?'+Math.random());" style="font-size:12px;">看不清，换一张</a>
                </li>
            </ul>
            <div class="com myinfo_update_btn pass_update_btn">
            <input type="hidden" value="<?php echo $code;?>" id="code" name="code"/>
            	<input type="submit" value="确定" onclick="submitForm();return false;"/><br />
            	<span id="resultInfo"></span>
            </div>
            </form>
         </div>
        
    </div>
</div> 
<script type="text/javascript">
function submitForm(){
	var formdata = $("#changePwd").serialize();
	$.ajax({
		   type: "POST",
		   url: "?m=company&action=editpwd2Finsh",
		   data: formdata,
		   dataType:"json",
		   success: function(data){
		      switch(data.code){
		      		case '1':
		    	 		ShowMsg('resultInfo',1,'修改成功');
				  		var timeout = setTimeout(function(){
							window.location.href="http://hrh.theinno.org";
					  		},2000);
		    	  		return false;
			      	break;
			    	default:
			    		ShowMsg('resultInfo',0,data.msg);
				    	break;
		      }
		   }
		});
}
</script>
<script type="text/javascript" src="/Template/2012/js/base.js"></script>
</body>
</html>
