<div style="background:#75badf;padding:58px 0 0 0;margin:0;">
		<table cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse; table-layout:fixed; width:610px !important; font-size:14px; font-family:Arial, Helvetica, sans-serif; margin:0 auto; background:#FFFFFF;border:1px solid #CCCCCC;">
			<tbody><tr>
				<td width="10"></td>
				<td width="580">
					<table width="100%" cellspacing="0" cellpadding="0" style="margin: 10px 0;width:100% !important;">
						<tbody><tr>
							<td style="font-family: Arial, Helvetica, sans-serif;">
								<a target="_blank" href="http://hrh.theinno.org?m=user&mail_code={$mail_code}">
									<img border="0" src="http://hrh.theinno.org/Template/2012/images/logo.png" style="width:134px;height:50px;">
								</a>
							</td>
						</tr>
					</tbody></table>
					<div style="height: 1px; background: #ccc; overflow: hidden"></div>
					<div style="font-size:14px; line-height:1.5em;">
						<div>
            <p>
            	亲爱的 <strong>用户</strong>，您好：
            </p>
            <p>
            	感谢注册残疾人就业热线平台，点击以下链接完成邮箱验证： 
            </p>
            <p>
            	<a href="{$link}" target="_blank">
                	<img style="border:none;" src="http://hrh.theinno.org/Template/2012/images/btn_bg_p.gif">
                </a>
                <span style="color: #666">(如果不能点击该链接地址，请复制并粘贴到浏览器的地址输入框)</span>
            </p>
            <table style="border-bottom:1px dotted #CCCCCC;padding:0px 0px 10px 0px;"><tbody><tr><td style="word-wrap:break-word; word-break:break-all">
                <a href="{$link}" target="_blank">
					{$link}
                </a>
            </td></tr></tbody></table>
            <p></p>
        </div>
					</div>
					<p style="height: 1px; background: #ccc; ; overflow: hidden; margin: 5px 0"></p>
					<p style="font-size: 12px; color: #b7b7b7; line-height: 20px; overflow: hidden; margin: 5px 0;">
						残疾人就业热线平台，专为残疾人打造的求职平台<br>
						<a target="_blank" href="http://hrh.theinno.org">hrh.theinno.org</a> 
						服务专线：86-8318-1926<br>本邮件不接受回复，联系我们请发至：
						<a href="mailto:2413758752@qq.com" target="_blank">2413758752@qq.com</a>
					</p>
				</td>
				<td width="10"></td>
			</tr>
		</tbody></table>
		<table width="100%" cellspacing="0" cellpadding="0" border="0" style="">
			<tbody><tr>

				<td height="25" colspan="5"></td>
			</tr>
		</tbody></table>
	</div>