	<div style="background:#fff2c9; padding:40px 0 0 0;margin:0;">
		<div style="text-align:center;">
			<div style="width:630px; border:1px solid #ffc036;  margin:0 auto; text-align:left; background:#FFFFFF;">
				<table cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse; table-layout:fixed; width:610px !important; font-size:14px; font-family:Arial, Helvetica, sans-serif; margin:0 auto; background:#FFFFFF; text-align:left;">
					<tbody><tr>
						<td width="15"></td>
						<td width="580">
							<table width="100%" cellspacing="0" cellpadding="0" style="margin: 15px 0;width:100% !important;">
								<tbody>
								<tr>
									<td style="font-family: Arial, Helvetica, sans-serif;">
										<a target="_blank" href="http://hrh.theinno.org?m=user">
											<img border="0" src="http://hrh.theinno.org/Template/2012/images/logo.png" style="width:134px;height:50px;">
										</a>
									</td>
									<!--<td valign="middle" align="right" style="padding-top: 5px; font-size: 12px;font-family: Arial, Helvetica, sans-serif;">
										<a style="color: #999" href="http://my.baicai.com/mailLogin.php?mailID=p_12096319&amp;mailCode=b89f315c4271275580ce4d95c645f6ec&amp;url=http://my.baicai.com/message/?BCisRead=N" target="_blank">被关注(<strong style="color: red">93</strong>)</a> 
										| <a style="color: #999" href="http://my.baicai.com/mailLogin.php?mailID=p_12096319&amp;mailCode=b89f315c4271275580ce4d95c645f6ec&amp;url=http://my.baicai.com/message/?BCisRead=N" target="_blank">面试通知(<strong style="color: red">3</strong>)</a> 
										| <a style="color: #999" href="http://my.baicai.com/mailLogin.php?mailID=p_12096319&amp;mailCode=b89f315c4271275580ce4d95c645f6ec&amp;url=http://my.baicai.com/?refer=personal_forget_password" target="_blank">刷简历</a> 
										| <a style="color: #999" href="http://my.baicai.com/mailLogin.php?mailID=p_12096319&amp;mailCode=b89f315c4271275580ce4d95c645f6ec&amp;url=http://my.baicai.com/?refer=personal_forget_password" target="_blank">进入求职中心</a> 
									</td>-->
								</tr>
							</tbody></table>
							<div style="height: 1px; background: #ffc036; overflow: hidden"></div>
							<div style="font-size:14px; line-height:1.5em;">
								<div style="margin-bottom:20px">
        <p style="font-size:14px;">
        亲爱的 <strong>{$realname}</strong>，您好：
        </p>
        <p>
        <strong style="font-size:14px;">您的帐号信息：</strong><br>
        帐号：<a href="mailto:{$username}" target="_blank">{$username}</a>   密码：{$password}
        <a href="http://hrh.theinno.org?m=user" target="_blank">立即登录</a>
        </p>
        <p style="color:#666">该邮件依您的请求而发送。</p>
</div>
							</div>
						</td>
						<td width="15"></td>
					</tr>
				</tbody></table>
			   <table cellspacing="0" cellpadding="0" bgcolor="e1e1e1" align="center" style="border-collapse:collapse; table-layout:fixed; width:630px !important; font-size:12px; font-family:Arial, Helvetica, sans-serif; background:#e1e1e1; text-align:center; color:#666666; line-height:20px;">
	               <tbody><tr><td height="5"></td></tr>
                   <tr>
	               		<td>
                        	本邮件不接受回复，联系我们请发至 <a style="color:#3366cc;" href="mailto:400678390@baicai.com" target="_blank">2413758752@qq.com</a>，服务专线 <span style="color:#3366cc;">86-8318-1926</span><br>
       						<a href="http://hrh.theinno.org/" target="_blank">hrh.theinno.org</a> 残疾人就业热线平台，专为残疾人打造的求职平台
                        </td>
	               </tr>
                    <tr><td height="8"></td></tr>
               </tbody></table>
            </div>
		</div>
		<table width="100%" cellspacing="0" cellpadding="0" border="0" style="">
			<tbody><tr>
				<td height="25" colspan="5"></td>
			</tr>
		</tbody></table>
		<table width="100%" cellspacing="0" cellpadding="0" border="0" style="">
			<tbody><tr>
				<td height="25" colspan="5"></td>
			</tr>
		</tbody></table>
	</div>
  