<div class="wleft">
    	<div class="com">
        	<ul class="com leftcate">
            	<!-- <li class="com">
                	<a href="?m=personal&action=login" <?php echo $_GET['m'] == "personal" && $_GET['action'] == "login" ? 'class="on"' :'';?>>个人登录</a>
                </li> -->
                <li class="com">
                	<a href="?m=personal&action=register" <?php echo $_GET['m'] == "personal" && $_GET['action'] == "register" ? 'class="on"' :'';?>>个人注册</a>
                </li>
                <li class="com">
                	<a href="?m=personal&action=forgetpwd" <?php echo $_GET['m'] == "personal" && $_GET['action'] == "forgetpwd" ? 'class="on"' :'';?>>个人忘记密码</a>
                </li>
                <!-- <li class="com">
                	<a href="?m=company&action=login" <?php echo $_GET['m'] == "company" && $_GET['action'] == "login" ? 'class="on"' :'';?>>企业登录</a>
                </li> -->
                <li class="com">
                	<a href="?m=company&action=register" <?php echo $_GET['m'] == "company" && $_GET['action'] == "register" ? 'class="on"' :'';?>>企业注册</a>
                </li>
                <li class="com">
                	<a href="?m=pcompany&action=forgetpwd" <?php echo $_GET['m'] == "company" && $_GET['action'] == "forgetpwd" ? 'class="on"' :'';?>>企业忘记密码</a>
                </li>
            </ul>
        </div>
    </div>