<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META http-equiv="x-ua-compatible" content="ie=7">
<title>残疾人就业热线平台-映诺社区发展机构</title>
<meta name="Copyright" content="残疾人就业热线平台-映诺社区发展机构" />
<meta name="description" content="残疾人就业热线平台-映诺社区发展机构" />
<meta name="keywords" content="残疾人就业热线平台-映诺社区发展机构" />
<link rel="stylesheet" media="all" type="text/css" href="./Template/2012/css/reset.css" />
<link rel="stylesheet" media="all" type="text/css" href="./Template/2012/css/style.css?v=2015122701" />
<script language="javascript" src="./Template/2012/js/jquery-1.8.1.min.js"></script>
<script language="javascript" src="./Template/2012/js/jquery.pack.js"></script>
<script language="javascript" src="./Template/2012/js/jquery.SuperSlide.js"></script>
<script language="javascript" src="./Template/2012/js/index.js"></script>
<script language="javascript" src="/Template/2012/js/base.js?v=20151127"></script>
<script language="javascript" src="/Template/2012/js/login_register.js"></script>
<!--[if IE 6]>
<script src="./Template/2012/js/deletepng.js" language="javascript" type="text/javascript"></script>
<script type="text/javascript">
DD_belatedPNG.fix('#menu ul li a.biga,#menu ul li dl,#menu ul li dl dd,#header,.wapper,.menu_left ul li a.subcate,img,background'); 
</script>
<![endif]--> 
</head>