<?php $this->getModel("header")->init();?>
<body>
<!-- 顶部菜单 -->
<?php $this->getModel("header")->headerMenu();?>
<div class="wapper" style="overflow:visible">
	<?php $this->getModel("header")->searchForm();?>
    <div class="joblist">
    	
        <div class="leftLoop">
						<a class="next"></a>	
						<div class="bd">
							<ul class="picList">
								<?php
									foreach($topJob as $key=>$value){
										echo '<li>
												<div class="pic"><a href="?m=companyinfo&comId='.$value["companyId"].'"><img src="'.$value["avatar"].'" /></a></div>
                                    			<div class="com">
                                    				<p>招聘职位：<a href="?m=job&action=info&jobId='.$value["id"].'">'.$value['name'].'</a></p>
                                        			<p>招聘公司：<a href="?m=companyinfo&comId='.$value["companyId"].'">'.$value['companyName'].'</a></p>
                                        			<p>工作地址：'.$value['city'].'</p>
                                    			</div>	
											</li>';
									}
								?>
							</ul>
						</div>
                        <a class="prev"></a>
					</div>
					<script type="text/javascript">jQuery(".leftLoop").slide({ mainCell:".bd ul",effect:"leftLoop",vis:4,scroll:4,autoPlay:false});</script>
    </div> 
</div> 

<div class="wapper jobslist">
	<?php $this->getModel("header")->searchCondition();?>
    <div class="wright">
    	<table width="100%" class="viewjob">
        	<tr class="ftr">
            	<td class="midtd">
                	职位名称
                </td>
                <td class="midtd">
                	公司名称
                </td>
                <td class="midtd">
                	工作地址
                </td>
                <td class="midtd">
                	薪资待遇
                </td>
                <td class="midtd">
                	残疾类型
                </td>
                <td class="midtd">
                	更新时间
                </td>
                <td class="midtd">
                	操作
                </td>
                
            </tr>
            <?php
            	foreach($jobs as $key=>$value){
					echo '<tr>
            				<td class="midtd">
                				<a href="?m=job&action=info&jobId='.$value["id"].'">'.$value["name"].'</a>
                			</td>
                			<td class="midtd">
                				<a href="?m=companyinfo&comId='.$value["companyId"].'">'.$value["companyName"].'</a>
                			</td>
               				<td class="midtd">
                				'.$value["city"].'
                			</td>
                			<td class="midtd">
                				'.$value["salary"].'
                			</td>
							<td class="midtd">
                				'.$value["type"].'
                			</td>
                			<td class="midtd">
                				'.$value["lastUpdateTime"].'
                			</td>
                			<td class="midtd">
                				<a href="javascript:void(0);" class="view" onclick="sendResume('.$value[id].',this)">投递简历</a>
                			</td>
            			</tr>';
				}
            ?>
           <tr>
           	<td colspan="7" style="text-align:center"><?php echo $subPageCss1;?></td>
           </tr>
        </table>
    </div>
</div>

<div class="showbox" id="showbox" >
	
</div>
<div class="mask"></div>
<script type="text/javascript">
function sendResume(jobid,obj){
	$.ajax({
		   type: "POST",
		   url: "?m=personal&action=jobapply",
		   data: "jobId="+jobid,
		   success: function(val){
		    	switch(val.code){
		    		case '1':
			    		$(obj).html("投递成功");
			    	break;
		    		case '-2':
		    			CT_pop('user_login');
			    		break;
			    	default:
			    		alert(val.msg);
			    	break;
		    	}
		   }
		});
}
</script>
<?php $this->getModel("header")->getLoginBox();?>
<script language="javascript" src="/Template/2012/js/My97DatePicker/WdatePicker.js"></script>
</body>
</html>