<div style="background:#79b6d7; padding:36px 0 0 0;margin:0;">
		<div style="text-align:center;">
			<div style="width:610px; border:5px solid #aac9d9; border-radius:5px; margin:0 auto;text-align:left;">
				<table cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse:collapse; table-layout:fixed; width:610px !important; font-size:14px; font-family:Arial, Helvetica, sans-serif; margin:0 auto; background:#FFFFFF;text-align:left;">
					<tbody><tr>
						<td width="10"></td>
						<td width="580">
							<table width="100%" cellspacing="0" cellpadding="0" style="margin:10px 0; width:100% !important;">
								<tbody><tr>
									<td style="font-family: Arial, Helvetica, sans-serif;">
										<a target="_blank" href="http://hrh.theinno.org">
											<img border="0" src="http://hrh.theinno.org/Template/2012/images/logo.png" style="width:134px;height:50px;">
										</a>
									</td>
									<!--<td valign="middle" align="right" style="padding-top:5px; font-size:12px;font-family: Arial, Helvetica, sans-serif; color:#ccc">
										<a style="color:#999" href="http://company.baicai.com/mailLogin.php?mailID=c_50240997&amp;mailCode=1ed76f93b545c993ffa6956200633eeb&amp;url=http://company.baicai.com/job/apply-resume.php?refer=company_receive_inform" target="_blank">收简历(<strong style="color:red">0</strong>)</a> |
										<a style="color:#999" href="http://company.baicai.com/mailLogin.php?mailID=c_50240997&amp;mailCode=1ed76f93b545c993ffa6956200633eeb&amp;url=http://company.baicai.com/message/?refer=company_receive_inform" target="_blank">被关注(<strong style="color:red">6153</strong>)</a> |
										<a style="color:#999" href="http://company.baicai.com/mailLogin.php?mailID=c_50240997&amp;mailCode=1ed76f93b545c993ffa6956200633eeb&amp;url=http://company.baicai.com/message/?refer=company_receive_inform" target="_blank">新消息(<strong style="color:red">33</strong>)</a> |
										<a style="color:#999" href="http://company.baicai.com/mailLogin.php?mailID=c_50240997&amp;mailCode=1ed76f93b545c993ffa6956200633eeb&amp;url=http://company.baicai.com/?refer=company_receive_inform" target="_blank">进入招聘中心</a>
									</td>-->
								</tr>
							</tbody></table>
							<div style="height:1px;background:#ccc; overflow:hidden"></div>
							<div style="font-size:14px; line-height:1.5em;">
								
     <table width="580" cellspacing="0" cellpadding="0" style="font-size:14px; line-height:1.5em; width:580px; border-collapse:collapse; border:none;">
		<tbody><tr>
     		<td height="10"></td>
     	</tr>
     	<tr>
     		<td><p style="margin:0; padding:0; margin-bottom:0; font-size:14px;">尊敬的 <strong>{$companyName}</strong>，您好！</p></td>
     	</tr>
        <tr>
     		<td height="10"></td>
     	</tr>
        <tr>
     		<td><p style="margin:0; padding:0; margin-bottom:0; font-size:14px;"><strong>{$personalName}</strong> 向贵公司 <a target="_blank" href="http://hrh.theinno.org/?m=job&action=info&jobId={$jobId}">{$jobName}</a> 职位投递了简历，请及时 <a target="_blank" href="http://hrh.theinno.org">查收</a></p></td>
     	</tr>
        <tr>
     		<td height="20"></td>
     	</tr>
        <tr>
        	<td>
            	<table cellspacing="0" cellpadding="0" style="font-size:14px; line-height:1.5em; border:1px solid #CCC; background:#F2F2F2; border-collapse:collapse;">
            		<tbody><tr>
                    	<td width="10" rowspan="3"></td>
            			<td width="560" height="10"></td>
                        <td width="10" rowspan="3"></td>
            		</tr>
                    <tr>
            			<td>
                        	<table width="100%" cellspacing="0" cellpadding="0" style="font-size:14px; line-height:1.5em; border-collapse:collapse; border:none; table-layout:fixed;">
			                    <tbody><tr>
			                        <td width="458" height="42" style="vertical-align:bottom;">
			                            <p style="margin:0; padding:0; margin-bottom:0; font-size:14px; line-height:42px; ">
                                        	<strong style="font-size:28px;">{$personalName}</strong> 
                                       	</p>
			                        </td>
			                        <td width="102" valign="top" align="center" rowspan="6">
                                    	<img style="width:100px; padding:1px; border:1px solid #CCCCCC;height:100px;" src="http://hrh.theinno.org/{$personalPhoto}">
                                    </td>
			                    </tr>
                                <tr>
                                	<td height="10"></td>
                                </tr>
                                <tr>
                                	<td>
                                    	<p style="margin:0; padding:0; margin-bottom:0; font-size:14px;">                                    		
											{$info}
                                    	</p>
                                  	</td>
                                </tr>
                                <tr>
                                	<td height="10"></td>
                                </tr>
                                <tr>
                                	<td>
                                    	<p style="margin:0; padding:0; margin-bottom:0; font-size:14px;">
                                    		<strong>期望职位：</strong>{$expJob}
                                    	</p>
                                 	</td>
                                </tr>
                                <tr>
                                	<td height="40"></td>
                                </tr>                        
								<tr>
									<td valign="middle" height="28" style="border-bottom:1px solid #CCCCCC;" colspan="2">
										<h3 style="margin:0; padding:0; margin-bottom:0; font-size:16px; font-weight:700">工作经历</h3> 
									</td>
								</tr>
								<tr>
									<td height="5" colspan="2"></td>
								</tr>
								<tr>
									<td colspan="2">
										<p style="margin:0; padding:0; margin-bottom:0; font-size:14px;">
											{$workExp}<br>
										</p>
									</td>
								</tr>
								<tr>
									<td height="20" colspan="2"></td>
								</tr>
								<tr>
									<td valign="middle" height="28" style="border-bottom:1px solid #CCCCCC;" colspan="2">
										<h3 style="margin:0; padding:0; margin-bottom:0; font-size:16px; font-weight:700">教育经历</h3>
									</td>
								</tr>
								<tr>
									<td height="5" colspan="2"></td>
								</tr>
								<tr>
									<td colspan="2">
										<p style="margin:0; padding:0; margin-bottom:0; font-size:14px;">
											{$eduExp}<br>
										</p>
									</td>
								</tr>
								<tr>
									<td valign="middle" height="28" style="border-bottom:1px solid #CCCCCC;" colspan="2">
										<h3 style="margin:0; padding:0; margin-bottom:0; font-size:16px; font-weight:700">自我介绍</h3>
									</td>
								</tr>
								<tr>
									<td height="5" colspan="2"></td>
								</tr>
								<tr>
									<td colspan="2"><p style="margin:0; padding:0; margin-bottom:0; font-size:14px;">{$intro}<br></p></td>
								</tr>
								<tr>
									<td height="20" colspan="2"></td>
								</tr>                                
                                <tr>
                                	<td valign="middle" height="28" style="border-bottom:1px solid #CCCCCC;" colspan="2">
                                    	<h3 style="margin:0; padding:0; margin-bottom:0; font-size:16px; font-weight:700">联系方式</h3>
                                    </td>
                                </tr>
                                <tr>
                                	<td height="5" colspan="2"></td>
                                </tr>
                                <tr>
                                	<td colspan="2">
					                    <p style="margin:0; padding:0; margin-bottom:0; font-size:14px;">
					                        手机：{$phone}<br>邮箱：<a href="mailto:{$email}" target="_blank">{$email}</a><br>QQ：{$qq}<br>
					                    </p>
                                    </td>
                                </tr>
                                <tr>
                                	<td height="20" colspan="2"></td>
                                </tr>
                                <tr>
                                	<td>
                                    	 <p style="margin:0; padding:0; margin-bottom:0; font-size:14px; color:red;">邮件中仅为摘要，详细简历请点击：</p>
                                    </td>
                                </tr>
                                <tr>
                                	<td height="10" colspan="2"></td>
                                </tr>     
								<tr>
                                	<td colspan="2">
                                    	<p style="margin:0; padding:0; margin-bottom:0;">
	                    					<a target="_blank" href="http://hrh.theinno.org">
	                                        	<img style="border:none;" src="http://hrh.theinno.org/Template/2012/images/resume-view.png">
	                                       	</a>
	                					</p>
                                    </td>
                                </tr>								
			                </tbody></table>
                        </td>
            		</tr>
                    <tr>
            			<td height="10"></td>
            		</tr>
            	</tbody></table>
            </td>
        </tr>
        <tr>
        	<td height="20"></td>
        </tr>
        <tr>
        	<td>
            	<p style="margin:0; padding:0; margin-bottom:0; font-weight:700; font-size:14px;">您的帐号信息：</p>
            </td>
        </tr>
        <tr>
        	<td height="5"></td>
        </tr>
        <tr>
        	<td>
                 <p style="margin:0; padding:0; margin-bottom:0; font-size:14px;">
                 	帐号：<a href="mailto:{$username}" target="_blank">{$username}</a> &nbsp; 密码：{$password} &nbsp; <a target="_blank" href="hrh.theinno.org">立即登录</a>
				</p>
            </td>
        </tr>
        <tr>
        	<td height="30"></td>
        </tr>
     </tbody></table>
        
							</div>
							<div>
								<p style="height:1px;background:#ccc;;overflow:hidden;margin:5px 0"></p>
								<p style="font-size:12px;color:#b7b7b7;line-height:20px;overflow:hidden;margin:5px 0;">
									本邮件不接受回复，联系我们请发至：<a style="color:#999999; text-decoration:none;" target="_blank" href="mailto:2413758752@qq.com">2413758752@qq.com</a>
								</p>
							</div>
						</td>
						<td width="10"></td>
					</tr>
				</tbody></table>
			</div>
		</div>
		<table width="100%" cellspacing="0" cellpadding="0" border="0" style="">
			<tbody><tr>
				<td height="25" colspan="5"></td>
			</tr>
		</tbody></table>
	</div>