<?php $this->getModel("header")->init();?>
<script type="text/javascript">
function sendEmail(){
	var email = jQuery("#email").val();
	if(emailVerify('email','emailInfo')){
		$.ajax({
			   type: "POST",
			   url: "?m=personal&action=sendForgetPwdEmail",
			   data: "email="+email,
			   dataType:"json",
			   success: function(data){
			   		switch(data['result']){
			   			case '-1':
			   				ShowMsg('emailInfo',0,data['msg']);
				   		break;
			   			case '1':
			   				ShowMsg('emailInfo',1,data['msg']);
				   			break;
			   		}
			   }
			});
	}

}
</script>
<div id="body-container">
	<div class="center clearfix">
		<div class="col_2">
			<h2>忘记您的密码?</h2>
			<p>如果您忘记了您的帐户密码，请输入您的帐户的电子邮件地址到下面的框中。 然后，我们将生成一条修改密码的链接，并将其发送到帐户的电子邮件地址。</p>
			<p>此邮件可能会花费一些时间才能到达，请耐心等待几分钟，并检查您的垃圾邮件收件箱中，然后再重新提交重设密码的要求。</p>
			<form class="basic-form">
				
				<ul>
					<li class="">
						<label for="email">雇员登录账号：<span class="required-field">(必填)</span></label>
						<input name="email" id="email" class="form_field" type="text" onblur="emailVerify('email','emailInfo');"/>
						<span id="emailInfo"></span>
					</li>
				</ul>
				<p><input name="submit" id="submit" value="确定" type="button" onclick="sendEmail();"></p>
			</form>
		</div>
		
<?php $this->getModel("header")->getLoginForm();?>
	</div>
</div>
<?php $this->getModel("header")->getFooter();?>