<?php $this->getModel("header")->init();?>
<body>
<!-- 顶部菜单 -->
<?php $this->getModel("header")->headerMenu();?>

<div class="wapper usercontent">
	<?php $this->getModel("personal")->leftMenu();?>
    <div class="wright">
        <div class="com padleft hrtitle">
        	面试邀请
        </div>
        <div class="com padleft hrlist">
        	<table width="100%">
        		<tbody>
            	<tr>
                	<td>
                    	职位
                    </td>
                    <td>
                    	公司名称
                    </td>
                    <td>
                    	面试时间
                    </td>
                    <td>
                    	面试地点
                    </td>
					<td>
						联系人
					</td>
					<td>
						联系电话
					</td>
                    <td>
                    	注意事项
                    </td>
					<td>
						邀请时间
					</td>
                </tr>
                <?php
                	foreach($list as $key=>$value){
						$companyId = $value["companyId"];
						$jobId = $value["jobId"];
						echo '<tr>
                				<td>
                    				<a href="?m=job&action=info&jobId='.$jobId.'" target="_blank">'.$value["jobName"].'</a>
                    			</td>	
                    			<td>
                    				<a href="?m=companyinfo&comId='.$companyId.'" target="_blank" >'.$value["companyName"].'</a>
                    			</td>
								<td>
                    				'.$value["time"].'
                    			</td>
								<td>
                    				'.$value["address"].'
                    			</td>
								<td>'.$value["linkman"].'</td>
								<td>'.$value["mobile"].'</td>
								<td>
                    				'.$value["desc"].'
                    			</td>
                    			<td class="hrtime">
                    				'.$value["createTime"].'
                    			</td>
                			</tr>';
					}
                ?>	
                </tbody>
            </table>
            <div class="com">
                    <div class="fanye">
                    	<?php echo $subPageCss2;?>
                    </div>
        	</div>
        </div>
    </div>
</div> 
 
</body>
</html>
