<?php $this->getModel("header")->init();?>
<body>
<!-- 顶部菜单 -->
<?php $this->getModel("header")->headerMenu();?>

<div class="wapper usercontent">
	<div class="wleft">
    	<div class="com">
        	<ul class="com leftcate">
            	<li class="com">
                	<a href="我的-基本资料.html">基本资料</a>
                </li>
                <li class="com">
                	<a href="我的-基本简历.html">我的简历</a>
                </li>
                <li class="com">
                	<a href="我的-账号安全.html"  class="on">账号安全</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wright">
    	
         <div class="mypass">
         	<ul class="com">
            	<li class="com">
                	<span>电子邮箱</span>
                    <div>
                    	<input type="text" value="" />
                    </div>
                </li>
            </ul>
            <div class="com myinfo_update_btn pass_update_btn">
            	<input type="submit" value="确定" />
            </div>
         </div>
        
    </div>
</div> 
 
</body>
</html>
